version: '3.8'
services:
  mail:
    image: ghcr.io/docker-mailserver/docker-mailserver:latest
    container_name: datalens-mail
    hostname: datalens.saas.com
    ports:
      - "25:25"
      - "465:465"
      - "587:587"
      - "993:993"
    volumes:
      - ./docker-data/mailserver/dms/mail-data/:/var/mail/
      - ./docker-data/mailserver/dms/mail-state/:/var/mail-state/
      - ./docker-data/mailserver/dms/mail-logs/:/var/log/mail/
      - ./docker-data/mailserver/dms/config/:/tmp/docker-mailserver/
      - /etc/localtime:/etc/localtime:ro
    environment:
      - ENABLE_RSPAMD=1
      - ENABLE_CLAMAV=1
      - ENABLE_SPAMASSASSIN=1
      - ENABLE_POSTGREY=1
      - ENABLE_SASLAUTHD=0
      - ENABLE_FAIL2BAN=0
      - ONE_DIR=1
    restart: always
  db:
    container_name: datalens-db
    image: postgres:latest
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: datalens
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGUSER: "postgres"
    volumes:
      - ./data-design.sql:/docker-entrypoint-initdb.d/data-design.sql
      - ./docker-data/postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 5s
      timeout: 5s
      retries: 5

    restart: always
  app:
    container_name: datalens-node
    depends_on:
      db:
        condition: service_healthy
    links:
      - mail
    build: .
    environment:
      NODE_ENV: production
    ports:
      - 8080:8080
    volumes:
      - ./uploads:/usr/src/app/uploads
    restart: always
